.about {
    padding: 20px;
}

.about-section {
    margin-top: 20px;
}

.mission-statement {
    display: flex;
    align-items: center;
}

.mission-statement p {
    flex: 1;
    margin-right: 20px;
    border: 1px solid var(--dark);
    padding: 8px;
    margin-bottom: 50px;
    background-color: var(--secondary);
}

.mission-statement img {
    width: 250px;
    height: auto;
}

.why-choose {
    margin-top: 20px;
}

.why-choose ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.why-choose li {
    flex: 1;
    margin-right: 20px;
    border: 1px solid var(--dark);
    padding: 10px;
    margin-bottom: 50px;
    background-color: var(--secondary);
}

.contact {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .mission-statement {
        flex-direction: column;
    }

    .mission-statement p {
        margin: 0 0 20px 0;
    }

    .why-choose ul {
        flex-direction: column;
    }

    .why-choose li {
        margin-right: 0;
        margin-bottom: 15px;
    }
}